bitsandbytes==0.39.0
transformers==4.46.1
peft @ git+https://github.com/huggingface/peft.git@v0.13.2
accelerate @ git+https://github.com/huggingface/accelerate.git@v1.0.1
einops==0.8.0
evaluate==0.4.1
scikit-learn==1.5.2
sentencepiece==0.1.99
wandb==0.18.5
# pip show bitsandbytes transformers peft accelerate einops evaluate scikit-learn sentencepiece wandb scipy lion-pytorch einops
# mm install accelerate evaluate peft sentencepiece wandb
# pip install bitsandbytes==0.39.0 # cd 
# 1 pip show 'tqdm' 'torch' 'transformers' 'accelerate' 'safetensors' 'optimum' 'huggingface-hub' 'scipy' 
# 2 mm install optimum==1.23.3 -c conda-forge
# 3 cd D:\tools\airllm\air_llm
# 4 pip uninstall airllm-2.11.0 tokenizers-0.19.1 transformers-4.41.2 optimum==1.23.3
# 5 mm install --force-reinstall tokenizers==0.20.1 transformers==4.46.1 optimum==1.23.3
# 6 pip install -e .